.red{
    background-color: red;
    border: solid black 1px;
}
.yellow{
    background-color: yellow;
    border: solid black 1px;
}
.blue{
    background-color: lightblue;
    border: solid black 1px;
}
table{
    margin-left: 30%;
    margin-top: 10%;
}
body{
    background-color: white;
}
.green{
    background-color: green;
    border: solid black 1px;
}